DROPBOX_APP_TOKEN=<secret dropbox credential>
GAM_DIR=<path to the gam dir>
SLACK_HOST=<the name (e.g. natpipeclip) of the slack organisation>
SLACK_TOKEN=<secret slack token>
SYSTEMS_ADMIN=<the email address of the admin user, e.g. bob.smith@natpipeclip.com>
TRELLO_API_KEY=<secret api key>
TRELLO_API_SECRET=<secret api secret>
TRELLO_API_TOKEN=<secret api token>
TRELLO_ORG=<trello organisation name, e.g. natpipeclip>
TWO_STEP_EXCEPTION_GROUP=<the short name of the Google Group for users who don't have 2FA e.g. 1steppers>
company=<full text company name, e.g. National Pipeclip, Inc> # variable will be uppper cased one day
domain=<your google apps domain name> # will be uppercased too
